*
{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', Arial, sans-serif;
	font-size: 11px;
}

body{
	background-color: #fff;
	margin: 0;
}

header {
	height: 50px;
	}

#webshopname {
	float: left;
	}
	
#userinfo {
	width: 300px;
	height: 50px;
	line-height: 40px;
	margin: 0 auto;
	font-size: 11px;
	float: right;
	text-align: right;
	color: #000;
	margin-right: 10px;
	}

#wrapper {
	width: 980px;
	margin: 0 auto;
	margin-top: 30px;
	}
	
#content {
	width: 970px;
	min-height: 500px;
	background-color: #fff;
	padding: 0 5px 0 5px;
}

#mainbar {
	width: 660px;
	}

#sidebar{
	float: right;
	width: 300px;
	background-color: #fff;
	
}

#employelogin {
	margin:30px 6px 15px 15px;
	border-width: thin;
	border-color: #0000ff;
}

#bestsellers {
	border-width:thin;
	border-color: #ff0000;
	background-color:#e9e9e9;
	padding: 10px;
}

img {
	margin:110px 6px 15px 175px;
}

a, li {
	text-decoration:none;
}

h1 {
	margin-left:6px;
	font-size: 30px; 
	color:#000;
	text-decoration:none;
	font-weight:bold;
	margin-top: 0px;
}
h2 {
	
	font-size:20px; 
	font-weight:normal;
	color:#636;
	color:#0E7FE3;
}
h3{
	margin:0 0 2px 0;
	font-size: 16px; 
	font-weight:lighter;
	text-align:justify;
	color:#0E7FE3;
}
h6{
	color:#0E7FE3;
	font-size:11px;
	font-style:normal;
	float:right;
	margin: 0 0 0 0;
}


/*****************
MENY
*****************/

#menu {
	height: 34px;
	width: 980px;
	background-color: #0E7FE3;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	}

#menu ul { 
	list-style: none; 
	font-size: 11px; 
	margin-left: -40px;}

#menu li {
	text-align: center;
	padding: 10px 20px 10px 20px;
	float: left;
	display: block;
	border-right: 1px solid #086ABF;
	}

#menu li:hover {
	background-color: #0E87F0;
	color: #fff;
	}

#menu a {
	color: #fff;
	}
	
#menu .first {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;	
	}
	
#search {
	width: 162px;
	float: right;
	margin-top: 6px;
	}
	
#search input {
  background-image:url(../images/bg_search_input.jpg);
  border-style:none;
  color:#797979;
  float:left;
  height:22px;
  padding-bottom:4px;
  padding-left:22px;
  padding-right:3px;
  padding-top:2px;
  text-transform:capitalize;
  width:122px;
  font-size: 11px;
}

#search fieldset {
  float:left;
  height:22px;
  margin: 0;
  padding: 0;
  width:176px;
  border: none;
}

#search a#search_go {
  background-image:url(../images/bg_search_a.jpg);
  float:left;
  height:22px;
  text-indent:-9999px;
  width:34px;
}
