@import url("../../css/style.css");

#verified {
	background-color: green;
	width: 970px;
	padding: 5px; 
	color: #fff;
	margin-left: -5px;
	margin-bottom: 10px;
	}
	
#error {
	background-color: red;
	width: 970px;
	padding: 5px; 
	color: #fff;
	margin-left: -5px;
	margin-bottom: 10px;
	}

#new table input {
	width: 200px;
	border: 1px solid #5e5e5e;
	}

#button {
	margin-top: 10px;
	}
	
#x { height: 9px;
	width: 9px;
	}

table { margin-left: -5px; }

table td {
	padding: 5px;
	border-bottom: 1px solid #e9e9e9;
	}
	
#workers {
	width: 980px; }

#overskrift a { color: #000; }
#overskrift a:hover { color: #0b66b7; text-decoration: none; }

.even {
	background-color: #f5f5f5;
	}

#overskrift { font-weight: bold; }
	
#workers #overskrift {
	background-color: #e9e9e9;
	}
	
#overskrift #name { width: 230px; }
#overskrift #adminstatus { width: 150px; }
#overskrift #username { width: 150px; }